body {
    margin: 0;
    padding: 0;
    font-display: swap;
    box-sizing: border-box;
    background-color: #324251;
}

header {
    margin: 0;
    padding: 0;
    background-color: #B56969;
}

section {
    margin: 0;
    padding: 0;
    background-color: #324251;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

header .container {
    height: 100px;
}

section .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header .logo {
    display: inline-block;
    margin-left: 40px;
    margin-top: 25px;
    height: 64px;
    background: left url("../img/logo.png") no-repeat;
}

header .logo h1 {
    margin-left: 64px;
    margin-top: 33px;
    height: 30px;
    font-family: 'Roboto Slab Bold', sans-serif;
    font-size: 30px;
    color: #3D434B;
}

header .search {
    display: inline-block;
    float: right;
    margin-top: 55px;
    margin-right: 25%;
    padding: 0;
}

header .field {
    border-radius: 3px;
    float: left;
    height: 35px;
    width: 270px;
    padding: 0;
    font-family: 'Roboto Slab Regular', sans-serif;
    font-size: 18px;
    color: #3D434B;
    background-color: #D0D5D6;
}

header .search .button {
    float: left;
    border-radius: 5px;
    height: 36px;
    width: 130px;
    padding: 0;
    margin-left: 10px;
    font-family: 'Roboto Mono Bold', sans-serif;
    font-size: 22px;
    color: #3D434B;
    background-color: #E1D8BA;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.49);
}

header .search .button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.49);
    transition: box-shadow 0.2s linear;
}

header .search .button:active {
    box-shadow: 3px 3px 10px #E3F5FB;
    transition: box-shadow 0.1s linear;
}

header a {
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 40px;
    top: 30px;
    height: 50px;
    width: 190px;
    padding: 10px 0 0 0;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.49);
    border-radius: 10px;
    text-decoration: none;
    background-color: #D4AB79;
    color: #3D434B;
    font-family: 'Roboto Slab Bold', sans-serif;
    font-size: 26px;
}

header a:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.49);
    transition: box-shadow 0.2s linear;
}

header a:active {
    box-shadow: 3px 3px 10px #E3F5FB;
    transition: box-shadow 0.1s linear;
}

section .search-info {
    margin: 0;
    padding: 0;
    display: block;
    height: 100px;
}

section .search-info p {
    display: inline-block;
    margin-top: 70px;
    color: #D0D5D6;
    font-family: 'Roboto Slab Regular', sans-serif;
    font-size: 20px;
}

section .search-info a {
    display: inline-block;
    margin-top: 60px;
    float: right;
    padding: 3px 12px;
    box-shadow: 6px 6px 5px #000000;
    border-radius: 5px;
    text-decoration: none;
    background-color: #E1D8BA;
    color: #3D434B;
    font-family: 'Roboto Mono Bold', sans-serif;
    font-size: 22px;
}

section .search-info a:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    transition: box-shadow 0.2s linear;
}

section .search-info a:active {
    box-shadow: 3px 3px 10px #E3F5FB;
    transition: box-shadow 0.1s linear;
}

section table {
    margin-top: 5px;
    width: 100%;
    font-family: 'Roboto Slab Regular', sans-serif;
    font-size: 20px;
    color: #3D434B;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 10px;
  }

section table td, th {
    border: 1px solid #dddddd;
    padding: 3px;
}

section table th {
    text-align: center;
    padding: 10px;
    background-color: #9cc5ca;
}

section table tr {
    background-color: #D0D5D6;
}

section table tr:nth-child(even) {
    background-color: #dddddd;
}

section table a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab Bold', sans-serif;
    font-size: 25px;
}

section table .asc::after {
    content: '▼';
    color: black;
}

section table .desc::after {
    content: '▲';
    color: black;
}

section table th:hover {
    background-color: rgb(115, 185, 201);
    transition: background-color 0.3s linear;
}

section .pagination {
    width: 100%;
    display: block;
    font-family: 'Roboto Mono Regular', sans-serif;
    font-size: 22px;
    color: #E1D8BA;
}

section .pagination p {
    display: inline-block;
    margin-right: 15px;
}

section .pagination a {
    padding: 2px 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto Mono Regular', sans-serif;
    font-size: 20px;
    color: #E1D8BA;
}

section .pagination .selected {
    color: #B56969;
    font-size: 22px;
}

section .pagination a:hover {
    font-size: 22px;
    transition: font-size 0.1s linear;
}

@media screen and (max-width: 1200px) {
    section .container {
        width: 65%;
    }

    header .logo {
        margin-left: 15px;
    }

    header .logo h1 {
        margin-top: 38px;
        font-size: 25px;
    }

    header a {
        right: 15px;
    }

    section .search-info p {
        margin-top: 78px;
        font-size: 15px;
    }

    section .search-info a {
        margin-top: 65px;
        padding: 3px 5px;
        font-size: 18px;
    }

    section table {
        font-size: 18px;
    }

    section table a {
        font-size: 22px;
    }

    section .pagination {
        font-size: 20px;
    }

    section .pagination a {
        font-size: 18px;
    }

    section .pagination .selected {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    section .container {
        width: 65%;
    }

    header .logo {
        margin-top: 8px;
        background: left url("../img/logo.png") no-repeat;
        margin-left: 10px;
    }

    header .logo h1 {
        margin-left: 0;
        margin-top: 60px;
        height: 22px;
        font-size: 22px;
    }

    header .search {
        margin-top: 60px;
    }

    header .field {
        height: 30px;
        width: 240px;
        font-size: 16px;
    }

    header .search .button {
        height: 31px;
        width: 90px;
        font-size: 20px;
        margin-left: 8px;
    }

    header a {
        right: 10px;
        top: 43px;
        height: 40px;
        width: 130px;
        font-size: 23px;
    }

    section .search-info {
        margin: 0;
        padding: 0;
        display: block;
        height: 80px;
    }

    section .search-info p {
        margin-top: 30px;
        display: block;
    }

    section .search-info a {
        display: block;
        float: left;
        margin-top: 0;
    }

    section table {
        font-size: 15px;
        margin-top: 0;
    }

    section table a {
        font-size: 20px;
    }

    section .pagination {
        font-size: 18px;
    }

    section .pagination a {
        font-size: 16px;
    }

    section .pagination .selected {
        font-size: 18px;
    }

    section .pagination a:hover {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    section .container {
        width: 80%;
    }
    header .logo h1 {
        height: 16px;
        font-size: 16px;
    }

    header .search {
        margin-top: 63px;
        margin-right: 10px;
    }

    header .field {
        height: 25px;
        width: 240px;
        font-size: 14px;
    }

    header .search .button {
        height: 26px;
        width: 90px;
        font-size: 15px;
        margin-left: 8px;
    }

    header a {
        right: 10px;
        top: 8px;
        height: 25px;
        width: 90px;
        font-size: 14px;
    }

    section .search-info {
        height: 75px;
    }

    section .search-info p {
        margin-top: 20px;
        font-size: 13px;
    }

    section .search-info a {
        padding: 3px 3px;
        font-size: 15px;
    }

    section table {
        font-size: 13px;
    }

    section table a {
        font-size: 15px;
    }

    section .pagination {
        font-size: 13px;
    }

    section .pagination p {
        margin-right: 0;
    }

    section .pagination a {
        font-size: 11px;
        margin-right: 0;
    }

    section .pagination .selected {
        font-size: 13px;
    }

    section .pagination a:hover {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    section .container {
        width: 100%;
    }

    header .container {
        height: 135px;
    }

    header .search {
        left: 10px;
        position: absolute;
        margin-top: 100px;
    }

    header .field {
        width: 180px;
    }

    section table {
        font-size: 11px;
    }

    section table a {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {

    header .field {
        width: 130px;
    }

    header .search .button {
        width: 50px;
    }

    section table {
        font-size: 8px;
        margin-top: 15px;
    }

    section table a {
        font-size: 10px;
    }
}