body {
    margin: 0;
    padding: 0;
    background-color: #324251;
}

p {
    width: 100%;
    text-align: center;
    color: #B56969;
}

.error {
    margin-top: 50px;
    font-family: 'Roboto Mono Bold', sans-serif;
    font-size: 200px
}

.cat {
    margin-top: -220px;
    height: 600px;
    background: center center no-repeat url('../img/cat.png');
}

.text {
    margin-top: -140px;
    font-family: 'Roboto Slab Bold', sans-serif;
    font-size: 70px
}
